@import url( resources/fonts/dejavu.css );
body {
	margin: 0px; padding: 0px; width: 100%; height: 100%; color: rgb(53, 56, 51); font-family: "DejaVu Sans", Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);
}
iframe {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; width: 100%; height: 100%; -ms-overflow-y: scroll;
}
a:link {
	color: rgb(74, 103, 130); text-decoration: none;
}
a:visited {
	color: rgb(74, 103, 130); text-decoration: none;
}
a[href]:hover {
	color: rgb(187, 122, 42); text-decoration: none;
}
a[href]:focus {
	color: rgb(187, 122, 42); text-decoration: none;
}
a[name] {
	color: rgb(53, 56, 51);
}
pre {
	font-family: "DejaVu Sans Mono", monospace; font-size: 14px;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 13px;
}
ul {
	list-style-type: disc;
}
code {
	font-family: "DejaVu Sans Mono", monospace;
}
tt {
	font-family: "DejaVu Sans Mono", monospace;
}
dt code {
	padding-top: 4px; font-family: "DejaVu Sans Mono", monospace; font-size: 14px;
}
.summary-table dt code {
	padding-top: 4px; font-family: "DejaVu Sans Mono", monospace; font-size: 14px; vertical-align: top;
}
sup {
	font-size: 8px;
}
button {
	font-family: "DejaVu Sans", Arial, Helvetica, sans-serif; font-size: 14px;
}
.about-language {
	padding: 0px 21px 8px 8px; height: 2.9em; font-size: 11px; margin-top: -9px; float: right;
}
.legal-copy {
	margin-left: 0.5em;
}
@media screen
{
div.flex-box {
	width: 100%; height: 100%; display: flex; position: fixed; flex-direction: column;
}
header.flex-header {
	flex:0 0 auto;
}
div.flex-content {
	flex:1 1 auto; -ms-overflow-y: auto;
}
}
.top-nav {
	padding: 10px 0px 0px; width: 100%; color: rgb(255, 255, 255); overflow: hidden; clear: right; font-size: 12px; float: left; min-height: 2.8em; background-color: rgb(77, 122, 151);
}
button#navbar-toggle-button {
	display: none;
}
ul.sub-nav-list-small {
	display: none;
}
.sub-nav {
	width: 100%; overflow: hidden; font-size: 12px; float: left; background-color: rgb(222, 227, 233);
}
.sub-nav div {
	padding: 6px; text-transform: uppercase; clear: left; float: left;
}
.sub-nav .sub-nav-list {
	padding-top: 4px;
}
ul.nav-list {
	margin: 0px 25px 0px 0px; padding: 0px; display: block;
}
ul.sub-nav-list {
	margin: 0px 25px 0px 0px; padding: 0px; float: left;
}
ul.nav-list li {
	list-style: none; padding: 5px 6px; text-transform: uppercase; float: left;
}
.sub-nav .nav-list-search {
	margin: 0px; padding: 6px; text-align: right; clear: none; float: right; position: relative;
}
ul.sub-nav-list li {
	list-style: none; float: left;
}
.top-nav a:link {
	color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none;
}
.top-nav a:active {
	color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none;
}
.top-nav a:visited {
	color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none;
}
.top-nav a:hover {
	color: rgb(187, 122, 42);
}
.nav-bar-cell1-rev {
	margin: auto 5px; color: rgb(37, 52, 65); background-color: rgb(248, 152, 29);
}
.skip-nav {
	left: -9999px; top: auto; overflow: hidden; position: absolute;
}
@media print
{
ul.nav-list {
	display: none;
}
div.sub-nav {
	display: none;
}
}
.title {
	margin: 10px 0px; color: rgb(44, 69, 87);
}
.sub-title {
	margin: 5px 0px 0px;
}
.header ul {
	margin: 0px 0px 15px; padding: 0px;
}
.header ul li {
	list-style: none; font-size: 13px;
}
body.class-declaration-page .summary h2 {
	margin: 15px 0px; padding: 0px; font-style: italic;
}
body.class-declaration-page .details h2 {
	margin: 15px 0px; padding: 0px; font-style: italic;
}
body.class-use-page h2 {
	margin: 15px 0px; padding: 0px; font-style: italic;
}
body.module-declaration-page .block-list h2 {
	margin: 15px 0px; padding: 0px; font-style: italic;
}
body.class-declaration-page .summary h3 {
	margin: 0px 0px 6px -8px; padding: 7px 5px; border: 1px solid rgb(208, 217, 224); border-image: none; background-color: rgb(222, 227, 233);
}
body.class-declaration-page .details h3 {
	margin: 0px 0px 6px -8px; padding: 7px 5px; border: 1px solid rgb(208, 217, 224); border-image: none; background-color: rgb(222, 227, 233);
}
body.class-declaration-page .summary .inherited-list h2 {
	margin: 0px 0px 6px -8px; padding: 7px 5px; border: 1px solid rgb(208, 217, 224); border-image: none; background-color: rgb(222, 227, 233);
}
main {
	padding: 10px 20px; clear: both; position: relative;
}
dl.notes > dt {
	margin: 10px 0px 0px; color: rgb(78, 78, 78); font-family: "DejaVu Sans", Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
dl.notes > dd {
	margin: 5px 10px 10px 0px; font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif; font-size: 14px;
}
dl.name-value > dt {
	font-size: 1.1em; font-weight: bold; margin-left: 1px; display: inline;
}
dl.name-value > dd {
	margin: 0px 0px 0px 1px; font-size: 1.1em; display: inline;
}
li.circle {
	list-style: circle;
}
ul.horizontal li {
	font-size: 0.9em; display: inline;
}
div.inheritance {
	margin: 0px; padding: 0px;
}
div.inheritance div.inheritance {
	margin-left: 2em;
}
ul.block-list {
	margin: 10px 0px; padding: 0px;
}
ul.details-list {
	margin: 10px 0px; padding: 0px;
}
ul.member-list {
	margin: 10px 0px; padding: 0px;
}
ul.summary-list {
	margin: 10px 0px; padding: 0px;
}
ul.block-list > li {
	list-style: none; line-height: 1.4; margin-bottom: 15px;
}
ul.details-list > li {
	list-style: none; line-height: 1.4; margin-bottom: 15px;
}
ul.member-list > li {
	list-style: none; line-height: 1.4; margin-bottom: 15px;
}
ul.summary-list > li {
	list-style: none; line-height: 1.4; margin-bottom: 15px;
}
.summary-table dl {
	margin-top: 0px; margin-bottom: 1px;
}
.summary-table dl dt {
	margin-top: 0px; margin-bottom: 1px;
}
.summary-table dl dd {
	margin-top: 0px; margin-bottom: 1px;
}
ul.see-list {
	list-style: none; padding-left: 0px;
}
ul.see-list-long {
	list-style: none; padding-left: 0px;
}
ul.see-list li {
	display: inline;
}
ul.see-list li:not(:last-child)::after {
	white-space: pre-wrap; content: ", ";
}
ul.see-list-long li:not(:last-child)::after {
	white-space: pre-wrap; content: ", ";
}
.summary-table {
	padding: 0px; width: 100%; border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-spacing: 0;
}
.details-table {
	padding: 0px; width: 100%; border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-spacing: 0;
}
.caption {
	margin: 0px; padding: 10px 0px 0px 1px; text-align: left; color: rgb(37, 52, 65); overflow: hidden; clear: none; font-weight: bold; white-space: pre; position: relative; background-repeat: no-repeat;
}
.caption a:link {
	color: rgb(31, 56, 156);
}
.caption a:visited {
	color: rgb(31, 56, 156);
}
.caption a:hover {
	color: rgb(255, 255, 255);
}
.caption a:active {
	color: rgb(255, 255, 255);
}
.caption span {
	padding: 5px 12px 7px; border: currentColor; border-image: none; height: 16px; float: left; display: inline-block; white-space: nowrap; background-color: rgb(248, 152, 29);
}
div.table-tabs {
	margin: 0px; padding: 10px 0px 0px 1px;
}
div.table-tabs > button {
	padding: 5px 12px 7px; border: currentColor; border-image: none; font-weight: bold; margin-right: 3px; cursor: pointer;
}
div.table-tabs > button.active-table-tab {
	background: rgb(248, 152, 29); color: rgb(37, 52, 65);
}
div.table-tabs > button.table-tab {
	background: rgb(77, 122, 151); color: rgb(255, 255, 255);
}
.two-column-summary {
	grid-template-columns: minmax(15%, max-content) minmax(15%, auto);
}
.three-column-summary {
	grid-template-columns: minmax(10%, max-content) minmax(15%, max-content) minmax(15%, auto);
}
.four-column-summary {
	grid-template-columns: minmax(10%, max-content) minmax(10%, max-content) minmax(10%, max-content) minmax(10%, auto);
}
@media screen and (max-width:600px)
{
.two-column-summary {
	grid-template-columns: 1fr;
}
}
@media screen and (max-width:800px)
{
.three-column-summary {
	grid-template-columns: minmax(10%, max-content) minmax(25%, auto);
}
.three-column-summary .col-last {
	grid-column-end: span 2;
}
}
@media screen and (max-width:1000px)
{
.four-column-summary {
	grid-template-columns: minmax(15%, max-content) minmax(15%, auto);
}
}
.summary-table > div {
	padding: 8px 3px 3px 7px; text-align: left;
}
.details-table > div {
	padding: 8px 3px 3px 7px; text-align: left;
}
.col-first {
	padding-top: 8px; padding-right: 0px; padding-bottom: 3px; vertical-align: top;
}
.col-second {
	padding-top: 8px; padding-right: 0px; padding-bottom: 3px; vertical-align: top;
}
.col-last {
	padding-top: 8px; padding-right: 0px; padding-bottom: 3px; vertical-align: top;
}
.col-constructor-name {
	padding-top: 8px; padding-right: 0px; padding-bottom: 3px; vertical-align: top;
}
.col-summary-item-name {
	padding-top: 8px; padding-right: 0px; padding-bottom: 3px; vertical-align: top;
}
.table-header {
	background: rgb(222, 227, 233); font-weight: bold;
}
.col-first {
	font-size: 13px;
}
.col-first {
	font-size: 13px;
}
.col-second {
	font-size: 13px;
}
.col-second {
	font-size: 13px;
}
.col-last {
	font-size: 13px;
}
.col-constructor-name {
	font-size: 13px;
}
.col-summary-item-name {
	font-size: 13px;
}
.col-last {
	font-size: 13px;
}
.col-first {
	overflow: auto; vertical-align: top;
}
.col-second {
	overflow: auto; vertical-align: top;
}
.col-constructor-name {
	overflow: auto; vertical-align: top;
}
.col-last {
	white-space: normal;
}
.col-first a:link {
	font-weight: bold;
}
.col-first a:visited {
	font-weight: bold;
}
.col-second a:link {
	font-weight: bold;
}
.col-second a:visited {
	font-weight: bold;
}
.col-first a:link {
	font-weight: bold;
}
.col-first a:visited {
	font-weight: bold;
}
.col-second a:link {
	font-weight: bold;
}
.col-second a:visited {
	font-weight: bold;
}
.col-constructor-name a:link {
	font-weight: bold;
}
.col-constructor-name a:visited {
	font-weight: bold;
}
.col-summary-item-name a:link {
	font-weight: bold;
}
.col-summary-item-name a:visited {
	font-weight: bold;
}
.even-row-color {
	background-color: rgb(255, 255, 255);
}
.even-row-color .table-header {
	background-color: rgb(255, 255, 255);
}
.odd-row-color {
	background-color: rgb(238, 238, 239);
}
.odd-row-color .table-header {
	background-color: rgb(238, 238, 239);
}
div.block {
	font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif; font-size: 14px;
}
.col-last div {
	padding-top: 0px;
}
.col-last a {
	padding-bottom: 3px;
}
.module-signature {
	margin: 14px 0px; font-family: "DejaVu Sans Mono", monospace; font-size: 14px; white-space: pre-wrap;
}
.package-signature {
	margin: 14px 0px; font-family: "DejaVu Sans Mono", monospace; font-size: 14px; white-space: pre-wrap;
}
.type-signature {
	margin: 14px 0px; font-family: "DejaVu Sans Mono", monospace; font-size: 14px; white-space: pre-wrap;
}
.member-signature {
	margin: 14px 0px; font-family: "DejaVu Sans Mono", monospace; font-size: 14px; white-space: pre-wrap;
}
.module-signature {
	margin-top: 0px;
}
.package-signature {
	margin-top: 0px;
}
.type-signature {
	margin-top: 0px;
}
.member-signature .type-parameters-long {
	vertical-align: top; display: inline-block; white-space: pre;
}
.member-signature .parameters {
	vertical-align: top; display: inline-block; white-space: pre;
}
.member-signature .exceptions {
	vertical-align: top; display: inline-block; white-space: pre;
}
.member-signature .type-parameters {
	white-space: normal;
}
.source-line-no {
	padding: 0px 30px 0px 0px; color: green;
}
.block {
	margin: 0px 10px 5px 0px; color: rgb(71, 71, 71); display: block;
}
.deprecated-label {
	font-weight: bold;
}
.description-from-type-label {
	font-weight: bold;
}
.implementation-label {
	font-weight: bold;
}
.member-name-link {
	font-weight: bold;
}
.module-label-in-package {
	font-weight: bold;
}
.module-label-in-type {
	font-weight: bold;
}
.package-label-in-type {
	font-weight: bold;
}
.package-hierarchy-label {
	font-weight: bold;
}
.type-name-label {
	font-weight: bold;
}
.type-name-link {
	font-weight: bold;
}
.search-tag-link {
	font-weight: bold;
}
.preview-label {
	font-weight: bold;
}
.deprecation-comment {
	font-style: italic;
}
.help-footnote {
	font-style: italic;
}
.preview-comment {
	font-style: italic;
}
.deprecation-block {
	border-width: thin; border-style: solid; padding: 10px; border-radius: 10px; font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif; font-size: 14px; margin-right: 10px; margin-bottom: 10px; display: inline-block;
}
.preview-block {
	border-width: thin; border-style: solid; padding: 10px; border-radius: 10px; font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif; font-size: 14px; margin-right: 10px; margin-bottom: 10px; display: inline-block;
}
div.block div.deprecation-comment {
	font-style: normal;
}
details.invalid-tag {
	background: rgb(255, 230, 230); padding: 2px 4px; border-radius: 2px; border: thin solid rgb(0, 0, 0); border-image: none; font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif; font-size: 14px; display: inline-block;
}
span.invalid-tag {
	background: rgb(255, 230, 230); padding: 2px 4px; border-radius: 2px; border: thin solid rgb(0, 0, 0); border-image: none; font-family: "DejaVu Serif", Georgia, "Times New Roman", Times, serif; font-size: 14px; display: inline-block;
}
details.invalid-tag summary {
	cursor: pointer;
}
main {
	display: block;
}
nav {
	display: block;
}
header {
	display: block;
}
footer {
	display: block;
}
section {
	display: block;
}
.ui-autocomplete-category {
	padding: 7px 0px 7px 3px; color: rgb(255, 255, 255); font-size: 15px; font-weight: bold; background-color: rgb(77, 122, 151);
}
.result-item {
	font-size: 13px;
}
.ui-autocomplete {
	white-space: nowrap; -ms-overflow-x: scroll; -ms-overflow-y: scroll; max-height: 85%; max-width: 65%; box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0px 3px 6px rgba(0,0,0,0.23);
}
ul.ui-autocomplete {
	position: fixed; z-index: 999999;
}
ul.ui-autocomplete li {
	clear: both; float: left; min-width: 100%;
}
.result-highlight {
	font-weight: bold;
}
#search-input {
	background-position: 2px 3px; margin: 0px; width: 250px; padding-left: 20px; background-image: url("resources/glass.png"); background-repeat: no-repeat; background-size: 13px;
}
#reset-button {
	border-radius: 0px; border: 0px currentColor; border-image: none; top: 10px; width: 12px; height: 12px; right: 12px; font-size: 0px; position: absolute; background-image: url("resources/x.png"); background-repeat: no-repeat; background-size: contain; background-color: transparent;
}
.search-tag-desc-result {
	font-size: 11px; font-style: italic;
}
.search-tag-holder-result {
	font-size: 12px; font-style: italic;
}
:target.search-tag-result {
	background-color: yellow;
}
.module-graph span {
	display: none; position: absolute;
}
.module-graph:hover span {
	margin: -100px 0px 0px 100px; display: block; z-index: 1;
}
.inherited-list {
	margin: 10px 0px;
}
section.class-description {
	line-height: 1.4;
}
.summary section[class$='-summary'] {
	padding: 0px 20px 5px 10px; border: 1px solid rgb(237, 237, 237); border-image: none; background-color: rgb(248, 248, 248);
}
.details section[class$='-details'] {
	padding: 0px 20px 5px 10px; border: 1px solid rgb(237, 237, 237); border-image: none; background-color: rgb(248, 248, 248);
}
.class-uses .detail {
	padding: 0px 20px 5px 10px; border: 1px solid rgb(237, 237, 237); border-image: none; background-color: rgb(248, 248, 248);
}
.serialized-class-details {
	padding: 0px 20px 5px 10px; border: 1px solid rgb(237, 237, 237); border-image: none; background-color: rgb(248, 248, 248);
}
.inherited-list {
	padding: 0px 0px 5px 8px; border: currentColor; border-image: none; background-color: rgb(255, 255, 255);
}
section[class$='-details'] .detail {
	padding: 0px 0px 5px 8px; border: currentColor; border-image: none; background-color: rgb(255, 255, 255);
}
.vertical-separator {
	padding: 0px 5px;
}
ul.help-section-list {
	margin: 0px;
}
ul.help-subtoc > li {
	padding-right: 5px; font-size: smaller; display: inline-block;
}
ul.help-subtoc > li::before {
	padding-right: 2px; content: "\2022";
}
span.help-note {
	font-style: italic;
}
main a[href*='://']::after {
	width: 7px; height: 7px; margin-bottom: 4px; margin-left: 2px; display: inline-block; content: ""; background-image: url("data:image/svg+xml; utf8,       <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768">        <path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132         132-240 240 120 120 240-240 132 132V0z" fill="%234a6782"/>      </svg>"); background-size: 100% 100%;
}
main a[href*='://']:hover::after {
	background-image: url("data:image/svg+xml; utf8,       <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768">        <path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132         132-240 240 120 120 240-240 132 132V0z" fill="%23bb7a2a"/>      </svg>");
}
main a[href*='://']:focus::after {
	background-image: url("data:image/svg+xml; utf8,       <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768">        <path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132         132-240 240 120 120 240-240 132 132V0z" fill="%23bb7a2a"/>      </svg>");
}
table.borderless {
	margin-top: 10px; margin-bottom: 10px;
}
table.plain {
	margin-top: 10px; margin-bottom: 10px;
}
table.striped {
	margin-top: 10px; margin-bottom: 10px;
}
table.borderless > caption {
	font-size: smaller; font-weight: bold;
}
table.plain > caption {
	font-size: smaller; font-weight: bold;
}
table.striped > caption {
	font-size: smaller; font-weight: bold;
}
table.borderless th {
	padding: 2px 5px;
}
table.borderless td {
	padding: 2px 5px;
}
table.plain th {
	padding: 2px 5px;
}
table.plain td {
	padding: 2px 5px;
}
table.striped th {
	padding: 2px 5px;
}
table.striped td {
	padding: 2px 5px;
}
table.borderless {
	border: currentColor; border-image: none;
}
table.borderless > thead > tr > th {
	border: currentColor; border-image: none;
}
table.borderless > tbody > tr > th {
	border: currentColor; border-image: none;
}
table.borderless > tr > th {
	border: currentColor; border-image: none;
}
table.borderless > thead > tr > td {
	border: currentColor; border-image: none;
}
table.borderless > tbody > tr > td {
	border: currentColor; border-image: none;
}
table.borderless > tr > td {
	border: currentColor; border-image: none;
}
table.borderless > thead > tr {
	background-color: transparent;
}
table.borderless > tbody > tr {
	background-color: transparent;
}
table.borderless > tr {
	background-color: transparent;
}
table.plain {
	border: 1px solid black; border-image: none; border-collapse: collapse;
}
table.plain > thead > tr {
	background-color: transparent;
}
table.plain > tbody tr {
	background-color: transparent;
}
table.plain > tr {
	background-color: transparent;
}
table.plain > thead > tr > th {
	border: 1px solid black; border-image: none;
}
table.plain > tbody > tr > th {
	border: 1px solid black; border-image: none;
}
table.plain > tr > th {
	border: 1px solid black; border-image: none;
}
table.plain > thead > tr > td {
	border: 1px solid black; border-image: none;
}
table.plain > tbody > tr > td {
	border: 1px solid black; border-image: none;
}
table.plain > tr > td {
	border: 1px solid black; border-image: none;
}
table.striped {
	border: 1px solid black; border-image: none; border-collapse: collapse;
}
table.striped > thead {
	background-color: rgb(227, 227, 227);
}
table.striped > thead > tr > th {
	border: 1px solid black; border-image: none;
}
table.striped > thead > tr > td {
	border: 1px solid black; border-image: none;
}
table.striped > tbody > tr:nth-child(2n) {
	background-color: rgb(238, 238, 238);
}
table.striped > tbody > tr:nth-child(2n+1) {
	background-color: rgb(255, 255, 255);
}
table.striped > tbody > tr > th {
	border-right-color: black; border-left-color: black; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
table.striped > tbody > tr > td {
	border-right-color: black; border-left-color: black; border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
table.striped > tbody > tr > th {
	font-weight: normal;
}
@media screen and (max-width:920px)
{
header.flex-header {
	-ms-overflow-y: auto; max-height: 100vh;
}
div#navbar-top {
	transition:height 0.35s; height: 2.8em;
}
ul.nav-list {
	margin: 10px 0px 0px; padding: 0px; width: 40%; clear: left; float: left; display: block;
}
ul.nav-list li {
	padding: 6px; margin-top: 2px; margin-left: 10px; float: none;
}
ul.sub-nav-list-small {
	margin: 6px 0px 0px; padding: 0px; width: 50%; height: 100%; color: rgb(53, 56, 51); clear: right; float: right; display: block; background-color: rgb(222, 227, 233);
}
ul.sub-nav-list-small ul {
	padding-left: 20px;
}
ul.sub-nav-list-small a:link {
	color: rgb(74, 103, 130);
}
ul.sub-nav-list-small a:visited {
	color: rgb(74, 103, 130);
}
ul.sub-nav-list-small a:hover {
	color: rgb(187, 122, 42);
}
ul.sub-nav-list-small li {
	list-style: none; padding: 6px; text-transform: uppercase; margin-top: 1px; float: none;
}
ul.sub-nav-list-small > li {
	margin-left: 10px;
}
ul.sub-nav-list-small li p {
	margin: 5px 0px;
}
div#navbar-sub-list {
	display: none;
}
.top-nav a:link {
	display: block;
}
.top-nav a:active {
	display: block;
}
.top-nav a:visited {
	display: block;
}
button#navbar-toggle-button {
	margin: 0px 10px; border: 0px currentColor; border-image: none; width: 3.4em; height: 2.8em; font-size: 10px; float: left; display: block; cursor: pointer; background-color: transparent;
}
button#navbar-toggle-button .nav-bar-toggle-icon {
	margin: 1px 0px 4px; border-radius: 2px; transition:0.1s; width: 24px; height: 3px; display: block; background-color: rgb(255, 255, 255);
}
button.expanded#navbar-toggle-button span:nth-child(1).nav-bar-toggle-icon {
	transform-origin: 10% 10%; width: 26px; transform: rotate(45deg);
}
button.expanded#navbar-toggle-button span:nth-child(2).nav-bar-toggle-icon {
	opacity: 0;
}
button.expanded#navbar-toggle-button span:nth-child(3).nav-bar-toggle-icon {
	transform-origin: 10% 90%; width: 26px; transform: rotate(-45deg);
}
}
@media screen and (max-width:800px)
{
.about-language {
	padding-right: 16px;
}
ul.nav-list li {
	margin-left: 5px;
}
ul.sub-nav-list-small > li {
	margin-left: 5px;
}
main {
	padding: 10px;
}
.summary section[class$='-summary'] {
	padding: 0px 8px 5px;
}
.details section[class$='-details'] {
	padding: 0px 8px 5px;
}
.class-uses .detail {
	padding: 0px 8px 5px;
}
.serialized-class-details {
	padding: 0px 8px 5px;
}
body {
	-webkit-text-size-adjust: none;
}
}
@media screen and (max-width:400px)
{
.about-language {
	padding-right: 12px; font-size: 10px;
}
}
@media screen and (max-width:400px)
{
.nav-list-search {
	width: 94%;
}
#search-input {
	width: 70%;
}
}
@media screen and (max-width:320px)
{
.nav-list-search > label {
	display: none;
}
.nav-list-search {
	width: 90%;
}
#search-input {
	width: 80%;
}
}
pre.snippet {
	margin: 12px 0px; padding: 10px; overflow: auto; white-space: pre; background-color: rgb(235, 236, 238);
}
div.snippet-container {
	position: relative;
}
button.snippet-copy {
	background: none; padding: 2px; border: currentColor; transition:opacity 0.2s; border-image: none; top: 6px; height: 1.7em; right: 6px; position: absolute; cursor: pointer;
}
button.snippet-copy img {
	background: none; padding: 0.05em 0px; width: 18px; height: 18px;
}
div.snippet-container:hover button.snippet-copy {
	
}
div.snippet-container button.snippet-copy:hover {
	
}
button.snippet-copy span {
	padding: 0.2em; top: -0.5em; color: rgb(61, 61, 61); line-height: 1.2em; font-family: "DejaVu Sans", Arial, Helvetica, sans-serif; font-size: 85%; display: none; white-space: nowrap; position: relative; content: attr(aria-label);
}
div.snippet-container:hover button.snippet-copy span {
	display: inline;
}
button.snippet-copy:active {
	background: rgb(211, 211, 211);
}
@media screen and (max-width:800px)
{
pre.snippet {
	padding-top: 26px;
}
button.snippet-copy {
	top: 4px; right: 4px;
}
}
pre.snippet .italic {
	font-style: italic;
}
pre.snippet .bold {
	font-weight: bold;
}
pre.snippet .highlighted {
	border-radius: 10%; background-color: rgb(247, 197, 144);
}
